

.material-icons {
    margin-top: 10px;
}

.img {
    margin: -10px 25px 0px 20px;
    border-radius: 50%;
}

ul  {
    float: right;
    margin-right: 5px;
    margin-top: 10px;
}

li {
    display: block;
    float: left;
    margin: 10px;
    color: #262626;
    font-size: 15px;
}